/** {
    margin: 0;
    padding: 0;
}*/

header {
    height: 15vh;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {

    min-height: 70vh;
    background-color: lightgoldenrodyellow;
}


section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


figure {
    border: 2px solid;
    text-align: center;
    margin: 20px 70px;
    width: 160px;
}


img {
    height: 160px;
    width: 160px;
}



footer {
    background-color: orange;
    height: 15vh;

}